<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empty file</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>File is empty.</h1>
<p><input type="button" onclick="window.location.href ='/user'" value="Enter new user"/></p>
<p><input type="button" onclick="window.location.href ='/upload'" value="Upload file with information about user"/></p>
<p><input type="button" onclick="window.location.href ='/searchUser'" value="Find user"/></p>
</body>
</html>